<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="exportkit.figma" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".p_gina_inicial_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:name="exportkit.figma.criar_conta_activity"></activity>
			<activity android:name="exportkit.figma.recuperar_senha_email_activity"></activity>
			<activity android:name="exportkit.figma.recuperar_senha_celular_activity"></activity>
			<activity android:name="exportkit.figma.quiz_4_activity"></activity>
			<activity android:name="exportkit.figma.quiz_fim_activity"></activity>
			<activity android:name="exportkit.figma.aceitar_termos_activity"></activity>
			<activity android:name="exportkit.figma.quiz_3_activity"></activity>
			<activity android:name="exportkit.figma.quiz_2_activity"></activity>
			<activity android:name="exportkit.figma.quiz_1_activity"></activity>
	</application>

</manifest>
	
	